<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="dto.Account" alias="account" />
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="org.mariadb.jdbc.Driver"></property>
				<property name="url"
					value="jdbc:mariadb://localhost:3306/testdb2" />
				<property name="username" value="root" />
				<property name="password" value="7564" />
				<property name="poolMaximumActiveConnections" value="500" />
				<property name="poolMaximumIdleConnections" value="500" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="mapper/account.xml" />
	</mappers>
</configuration>